*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;

}

main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
}

h2{
    background-color: rgb(241, 96, 222);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 10px;
}

input{
    margin-bottom: 10px;
}
 #caixa{
    width: 400px;
    height: 200px;
    background-color: rgb(243, 164, 226);
    margin: 20px auto;
    box-shadow: 0 0 20px rgb(247, 43, 203);
    border-radius: 22px;
 }

 .btn{
    padding: 5px 10px;
    margin-right:  10px;
 }

.area_add_sub{
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 22px;
}
.area_add_sub button{
    padding: 5px;
    background-color: rgb(245, 153, 210);
    border: 1px solid rgb(rgb(253, 188, 244), green, blue);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.area_add_sub button:hover{
    background-color: rgb(250, 18, 161);
}
